/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/07/2018, 08:29:12
    Author     : tars
*/


.modal-fu{
    /*overflow-y: initial !important
    overflow-y: scroll; */
    max-height:85%;                  
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: 100%;
    animation-duration:0.6s;
    height: 80%;
}
.modal-fu-body{
    /*height: 100px;*/
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}
.modal.modal-fu .modal-footer {
    bottom: 0;
}     
.celulas{
    border: 1px solid rgba(86,61,124,.2);
}