.embed_pdf {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.panel_pdf {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}     